.media-item-container {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  img {
    max-width: 100px;
  }
  a,
  p {
    text-align: center;
    display: block;
  }
}
